/*
Welcome to the info page CSS, or styling code!

To change the colors, find the :root element and edit the # color. You can google color picker to find color codes
Make sure that there is a # before the color code!
Make sure that there is a ; after the color code!

*/

:root{
    --background-color: #bdb9b9;
    --border-color: #2f2f2f;
    --left-color: #525252;
    --right-color: #828181;
    --nav-color: #2f2f2f;
    --link-color: #ffff;
    --text-color: #2f2f2f;
    --sidebar-color: #2f2f2f;
    --text-background: #2f2f2f;
    --image-background: #2f2f2f;
    --video-background: #2f2f2f;
    --buttons-color: #2f2f2f;
    --credit-color: #868686;
}

/* Ask me if you want to change any of the other styling! */

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Tinos', serif;
}

body{
    height: 170vh;
    width: 100%;
    background-color: var(--background-color);
}

.title{
    margin: 15px;
}

.site-wrapper{
    height: 100%;
    width: 100%;
}

.content-container{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 10vh;
}

.content-container2{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 10vh;
}

/* Navbar */

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 10vh;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 999;
}

.active a{
    color: #9b5858;
}

.img-holder{
    width: 10%;
}

.nav-holder{
    width: 85%;
    display: flex;
    justify-content: center;
}

.nav-list{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.nav-item{
    margin: 50px;
    text-decoration: underline;
}

.nav-item a{
    color: var(--link-color);
    font-size: x-large;
}

/* End navbar */

.header-img{
    position: relative;
    margin: 25px;
    height: 130vh;
    width: 35%;
    background-color: var(--left-color);
}

.img-item{
    max-width: 100%;
    max-height: 100%;
    border: 10px solid var(--border-color);
}

.img-item2{
    max-width: 70%;
    max-height: 70%;
    border: 10px solid var(--border-color);
}

.header-info{
    position: relative;
    width: 50%;
    height: 130vh;
    margin: 25px;
    background-color: var(--right-color);
}

.info-section{
    margin: 15px;
}

.img-section{
    margin: 20px;
}


.credits{
    bottom: -70vh;
    display: flex;
    position: absolute;
    width: 100%;
    height: 20vh;
    justify-content: center;
    background-color: var(--credit-color);
}

.links{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.link-title{
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: underline;
}

.link-item{
    margin: 7px;
    color: var(--text-color);
}

.credit-names{
    width: 50%;
    text-align: center;
}

.credit-title{
    margin-bottom: 10px;
    text-decoration: underline;
}

.usage{
    width: 25%;
}

.usage-title{
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
}

