/*
Welcome to the info page CSS, or styling code!

To change the colors, find the :root element and edit the # color. You can google color picker to find color codes
Make sure that there is a # before the color code!
Make sure that there is a ; after the color code!

*/

:root{
    --background-color: #2f2f2f;
    --text-color: #2f2f2f;
    --sidebar-color: #2f2f2f;
    --text-background: #2f2f2f;
    --image-background: #2f2f2f;
    --video-background: #2f2f2f;
    --buttons-color: #2f2f2f;
}

/* Ask me if you want to change any of the other styling! */

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 200vh;
    width: 100%;
}

.title{
    margin: 15px;
}

.site-wrapper{
    height: 100%;
    width: 100%;
}

.content-container{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 10vh;
}

.sidebar{
    display: flex;
    width: 25%;
    margin: 5px;
    text-align: center;
    justify-content: flex-end;
}

.nav{
    padding: 0;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: grey;
}

.video-rack{
    width: 90%;
    margin: 5px;
}

.video-child{
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.video-caption{
    margin: 10px;
}